{%  extends '::base.html.twig' %}

{% block body %}

    <div class="textoInicio">  Productos   </div>

<div class="buttProduct">

    <a href="/Producto/1" class="buttSelectProd">Ir a producto 1</a>

    <a href="/Producto/2"    class="buttSelectProd">Ir a producto 2</a>
</div>








{% endblock  %}